    <div id="dashboardapp">

        <header>
            <h1>Health Dashboard -- @User.Identity.Name
            </h1>
        </header>
        <section id="main">
            <div id="content"></div>
        </section>

        <footer>
        </footer>

    </div>

    <!-- Templated -->
    <script type="text/template" id="project-template">
        <div class="view">
            <label><%- name %></label>
            <a class="destroy"></a>
        </div>
    </script>